<form [formGroup]="myForm" (ngSubmit)="submit()">
  <nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body *ngIf="title == 'Add Image'">

      <div class="form-group">
        <div class="custom-file">
          <input type="file" class="custom-file-input" formControlName="file" id="importFile"
            (change)="onFileChange($event)">
          <label class="custom-file-label" #labelImport for="importFile"><i class="fas fa-search"></i>Choose
            file</label>
        </div>
      </div>
      <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">

    </nb-card-body>

    <nb-card-body *ngIf="title == 'View Image'">

      <!-- <div class="row mt-2">
        <div *ngFor="let item of data" class="col-6">
          <div class="my-2" style="border: 1px solid;">
            <img [src]="item.source" style="height: 300px; width:500px">
          </div>
        </div>
      </div> -->
      <div class="container">
      <table class="table table-striped table-bordered">
          <thead>
              <tr>
                  <th>Image</th>
                  <th>Title</th>
                  <th>Set Poster</th>
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let item of imageData">
                  <td>
                    <img [src]="item.source" style="height: 200px; width:200px">
                  </td>
                  <td>{{item.title}}</td>
                  <td>
                    <nb-radio-group [(value)]="selectPosterImage">
                      <nb-radio (click)="setPosterImage(item.title)" [value]="item.isPosterImage">
                      </nb-radio>
                    </nb-radio-group>
                  </td>
              </tr>
          </tbody>
      </table>
  </div>

    </nb-card-body>

    <nb-card-footer *ngIf="title == 'Add Image'">
      <div class="row">
        <div class="col-xxxl-6 col-xxl-12 col-md-12">
          <button type="submit" nbButton status="primary">Upload</button>
        </div>
        <div class="col-xxxl-6 col-xxl-12 col-md-12">
          <div class="form-group">
            <nb-checkbox formControlName="isPosterImage">Setup poster</nb-checkbox>
          </div>
        </div>
      </div>
    </nb-card-footer>
    <nb-card-footer *ngIf="title == 'View Image'">
      <div class="row">
        <div class="col-xxxl-6 col-xxl-12 col-md-12">
          <button type="submit" nbButton (click)="setImages()" status="primary">Ok</button>
        </div>
        
      </div>
    </nb-card-footer>
  </nb-card>
</form>