<div class="row">
  <div class="col-xxxl-12">
    <div class="row">
      <div class="col-md-3">
        <nb-card class="card1">
          <nb-card-body>
            <h4><nb-icon icon="person-outline" pack="eva" class="iconsize"></nb-icon> Customers</h4>
            <div class="details h1">
              Card
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-3">
        <nb-card>
          <nb-card-body class="card2">
            <h4><nb-icon icon="layers-outline" pack="eva" class="iconsize"></nb-icon> Products</h4>
            <div class="details h1">
              Card
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-3">
        <nb-card class="card3">
          <nb-card-body>
            <h4><nb-icon icon="arrow-circle-down-outline" pack="eva" class="iconsize"></nb-icon> Today's Order</h4>
            <div class="details h1">
              Card
            </div>
          </nb-card-body>
        </nb-card>
      </div>
      <div class="col-md-3">
        <nb-card class="card4">
          <nb-card-body>
            <h4><nb-icon icon="checkmark-circle-outline" pack="eva" class="iconsize"></nb-icon> Max Reviewed</h4>
            <div class="details h1">
              Card
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>
  </div>
</div>