<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 400px; 
   background-image: url(../../../../assets/images/phoenixStart.png); background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-danger opacity-8"></span>
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">Hello Jesse</h1>
                <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress
                    you've made with your work and manage your projects or assigned tasks</p><a class="btn btn-info"
                    href="#!">Edit profile</a>
            </div>
        </div>
    </div>

</div>
<!-- <div class="container-fluid mt--7"> -->
<div class="row" style="margin-top: -80px; margin-left: 20px; margin-right: 20px;">
    <div class="col-xxxl-8 col-xxl-7 col-lg-7 col-md-12">
        <nb-card size="large">
            <nb-card-header class="card1">
                Customer details
            </nb-card-header>
            <nb-card-body>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-12">
        <div class="row justify-content-center">

            <div class="card-profile-image">
                <a href="javascript:void(0)">
                    <img src="../../../../assets/images/eva.png" class="rounded-circle">
                </a>
            </div>
        </div>
        <nb-card size="large">
            <nb-card-body>
                <form>
                    <div class="form-group row">
                        <label for="inputEmail" class="label col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-3">
                            <input type="text" nbInput fullWidth id="inputEmail" placeholder="Email">
                        </div>
                        <label for="inputname" class="label col-sm-2 col-form-label">Profile name</label>
                        <div class="col-sm-3">
                            <input type="text" nbInput fullWidth id="inputname" placeholder="Profile name">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputGender" class="label col-sm-2 col-form-label">Gender</label>
                        <!-- <div class="col-sm-3">
                            <input type="radio" value="Female" class="custom-control-input" name="gridRadios">
                            <span class="custom-control-indicator"></span>
                            <span class="custom-control-description">Fe-male</span>
                        </div> -->
                        <label for="inputMobile" class="label col-sm-2 col-form-label">Mobile No</label>
                        <div class="col-sm-3">
                            <input type="text" nbInput fullWidth id="inputMobile" placeholder="Mobile No">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="heighlight" class="label col-sm-2 col-form-label">Product heighlight</label>
                        <div class="col-sm-8">
                            <!-- <input type="text" nbInput fullWidth id="inputPrice" placeholder="Price"> -->
                         
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-9">
                            <button type="submit" nbButton status="primary">Save</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>
</div>