<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center"
    style="min-height: 400px; 
   background-image: url(../../../../assets/images/phoenixStart.png); background-size: cover; background-position: center top;">
    <span class="mask bg-gradient-danger opacity-8"></span>
    <div class="container-fluid d-flex align-items-center">
        <div class="row">
            <div class="col-lg-7 col-md-10">
                <h1 class="display-2 text-white">{{profileName.value}}</h1>
                <!-- <p class="text-white mt-0 mb-5">This is your profile page. You can see the progress
                    you've made with your work and manage your projects or assigned tasks</p><a class="btn btn-info"
                    href="#!">Edit profile</a> -->
            </div>
        </div>
    </div>

</div>
<!-- <div class="container-fluid mt--7"> -->
<div class="row" style="margin-top: -80px; margin-left: 20px; margin-right: 20px;">
    <div class="col-xxxl-8 col-xxl-7 col-lg-7 col-md-12">
        <nb-card size="large">
            <nb-card-header class="card1">
                Customer details
            </nb-card-header>
            <nb-card-body>
                <form style="margin: 10px;" [formGroup]="customerForm" (ngSubmit)="onSubmit()">
                    <div class="form-group row">
                        <label for="email" class="label col-sm-2 col-form-label">Email</label>
                        <div class="col-sm-3">
                            <input type="text" nbInput fullWidth id="email" placeholder="Email" formControlName="email"
                                #email>
                        </div>
                        <label for="profileName" class="label col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-3">
                            <input type="text" nbInput fullWidth id="profileName" placeholder="Profile name"
                                formControlName="profilename" #profileName>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="gender" class="label col-sm-2 col-form-label">Gender</label>
                        <div class="col-sm-3">
                            <nb-radio-group [(value)]="gender" formControlName="gender">
                                <nb-radio id="gender" [value]="'Male'">
                                    Male
                                </nb-radio>
                                <nb-radio id="gender" [value]="'Female'">
                                    Female
                                </nb-radio>
                            </nb-radio-group>
                        </div>
                        <label for="mobileNo" class="label col-sm-2 col-form-label">Mobile No</label>
                        <div class="col-sm-3">
                            <input type="text" nbInput fullWidth id="mobileNo" placeholder="Mobile No"
                                formControlName="mobileNo" #mobileNo>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="state" class="label col-sm-2 col-form-label">State</label>
                        <div class="col-sm-3">
                            <ng-select [items]="stateList" bindLabel="state" formControlName="state" #state bindValue="state" 
                                (change)="getCityList()">
                            </ng-select>
                        </div>
                        <label for="city" class="label col-sm-2 col-form-label">City</label>
                        <div class="col-sm-3">
                            <ng-select [items]="cityList" bindLabel="city" formControlName="city" #city bindValue="city">
                            </ng-select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="address" class="label col-sm-2 col-form-label">Address</label>
                        <div class="col-sm-6">
                            <input type="textarea" nbInput fullWidth id="address" placeholder="Address"
                                formControlName="address" #address>
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="offset-sm-2 col-sm-9">
                            <button type="submit" nbButton status="primary">Save</button>
                        </div>
                    </div>
                </form>
            </nb-card-body>
        </nb-card>
    </div>

    <div class="col-xxxl-4 col-xxl-4 col-lg-4 col-md-12 col-sm-12">
        <div class="row justify-content-center">

            <div class="card-profile-image">
                <a href="javascript:void(0)">
                    <img src="../../../../assets/images/default-avatar.jpg" class="rounded-circle">
                </a>
            </div>
        </div>
        <nb-card size="large">
            <nb-card-body>
                <div class="row mt150">
                    </div>
                    <!-- <div class="row">
                        <div class="col-sm-12">
                            <h5>{{email.value}}</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <h6>{{mobileNo.value}}</h6>
                        </div>
                    </div> -->
                    <!-- <div class="row"> -->
                    <div class="item text-basic">
                        <div class="color bg-body"></div>
                        <div>
                          <h5 class="text-basic textCenter">{{email.value}}</h5>
                       
                        </div>
                      </div>
                    <div class="item text-hint">
                        <div class="color bg-hint"></div>
                        <div>
                            <h6 class="text-hint textCenter">{{mobileNo.value}}</h6> 
                        </div>
                    </div>
                    <div class="item text-hint">
                        <div class="color bg-hint"></div>
                        <div>
                            <div class="text-hint textCenter">{{address.value}}</div> 
                        </div>
                    </div>
                <!-- </div> -->
            </nb-card-body>
        </nb-card>
    </div>
</div>