.header {
    position: relative;
}

.pb-8,
.py-8
{
    padding-bottom: 8rem !important;
}

.d-flex
{
    display: flex !important;
}

.pt-lg-8,
.py-lg-8
{
 padding-top: 8rem !important;
}

.container-fluid
{
    display: flex;

    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

header,
hgroup,
main,
nav,
section
{
    display: block;
}

.card
{
    position: relative;

    display: flex;
    flex-direction: column;

    min-width: 0;

    word-wrap: break-word;

    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: .375rem; 
    background-color: #fff;
    background-clip: border-box;
}

.card-header
{
    margin-bottom: 0;
    padding: 1.25rem 1.5rem;

    border-bottom: 1px solid rgba(0, 0, 0, .05); 
    background-color: #fff;
}

.card-profile-image
{
    position: relative;
}
.card-profile-image img
{
    position: absolute;
    left: 50%;

    max-width: 180px;

    transition: all .15s ease; 
    transform: translate(-50%, -30%);

    border-radius: .375rem;
}
.card-profile-image img:hover
{
    transform: translate(-50%, -33%);
}

.justify-content-center
{
    justify-content: center !important;
    position: inherit;
    z-index: 10;
}

.rounded-circle
{
    border-radius: 50% !important;
}